<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.file.evolution">

    <!--baca konten kartu SD Anda-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--mengubah atau menghapus konten kartu SD Anda-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <application
        android:name=".EvolutionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="false">

        <activity
            android:name=".application.ApplicationStarterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".application.ApplicationFolderActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".application.ApplicationFileActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
         
        </activity>
        
        <activity
            android:name=".application.ApplicationSettingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.file.evolution.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>
